/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

h1 {
    color: #333;
    font-size: 50px;
}

.add-task {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.add-task h2 {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #1cb8ab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

button:hover {
    background-color: #16756d;
}

.list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list .task {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid #20ddeb;
    cursor: pointer;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list .task:hover {
    background-color: #fafafa;
}

.list .task span {
    color: #ff3838;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
    bottom: 0;
}